body{
    background-color: rgb(92, 86, 86);
}
.card1{
    background-color: white;
    border: 7px solid red;
    box-shadow: 7px 7px rgb(105, 5, 105);
    text-align: center;
    text-shadow: 3px;
    color: brown;
    width: 314px;
    height: 115px;
    border-radius: 28px;
    padding: 10px;
    margin: auto;
    font-style: italic;
    font-size: x-large ;
    font-weight: 700;
    text-shadow :1px 1px 2px ;
}
.div2{
    border: 4px solid green;
    height: 607px;
    margin: 10px;
    background-color: cadetblue;
  }
.card2{
    border: 8px solid red;
    border-radius: 38px;
    box-shadow: 8px 8px rgb(105, 5, 105);
    background-color: white;
    text-align: center;
    color: rgb(5, 5, 72);
    width: 238px;
    height: 246px;
     margin: 18px;
     text-shadow: 1px 1px 2px violet;
     font-size: x-large;
     font-weight: 700;
     padding: 4px;
    }
.div3{
    background-color: green;
    border: 6px solid violet;
    width: 718px;
    height: 588px;
    margin: auto;
    text-align: center;
  }
.card3{
    background-color: burlywood;
    width: 300px;
    height: 240px;
    text-align: center;
    margin: 8px;
    border: 2px solid rgb(77, 11, 77);
}
.fixed{
    position: fixed;
    bottom:20px;
margin-left: 33%;
    background-color: lightgreen;
    color: brown;
    font-style: italic;
    border: 6px solid red;
    border-radius: 20px;
    box-shadow: 6px 6px rgb(132, 23, 132);
    width: 445px;
    height: 78px;
    padding-left: 27px;
   }
#fixed1{
    float: left;
    font-size: x-large;
    font-style: italic;
    color: red;
    font-weight: bold;
    width: 200px;
    text-align: center;
    position: relative;
    bottom: 13px;
}
#fixed2{
    font-size: 18px;
    font-style: italic;
    color: red;
    font-weight: bold;
    width: 311px;
    text-align: center;
    position: relative;
    left: 76px;
   bottom: 8px;;
}
.width{
    width: 636px;
    height: 306px;
    float: left;
}

#float1{
float: left;
  
}
#float2{
    float: right;
}
  #float3{
    float:  left; 
}  
 #float4{ 
    float: right;
}
#veg{
    float: right;
}
#fruits{
    float: left;
}
#other{
    float: left;
    width: 717px;
}
.div{
    width:500px;
    border: 5px solid red;
}
.h2{
    font-style: italic;
}
.image{
border: 2px solid green;
width:176px;
}